#main {
    padding-top: 70px;
}

.jumbotron {
    background-color: white;
}

#query {
    border-radius: 6px 0 0 6px;
}

.snippet {
    margin-bottom: 20px;
}

/*#forkme {
    position: fixed;
    top: 0;
    border: 0;
    right: 0;
}*/

#snippet-details {
    margin-bottom: 20px;
}

#signin {
    max-width: 300px;
    margin: 0 auto;
}

#push {
    height: 60px;
}

#code-textarea, #html-textarea {
    overflow: scroll;
    word-wrap: normal;
    height: 300px;
    margin-bottom: 30px;
}

#loader {
    padding-top: 10px;
    visibility: hidden;
}

#highlight-tabs {
    height: 500px;
    margin-bottom: 50px;
}

#html-preview {
    height: 300px;
}

.search-result-link {
    font-size: large;
}

#source, #demo {
    height: 450px;
    overflow: auto;
    padding-top: 10px;
}

#demo-tabs {
    height: 500px;
}

#tags-div {
    margin-top: 100px;
}

#search-control {
    height: 50px;
}

#addthis-control {
height: 30px;
}

.container .credit {
    margin: 20px 0;
}

.btn-tag {
    margin: 5px;
}

canvas {
    border: 1px solid;
}

#location-table {
    width: 40%;
}

#console-log {
    width: 400px;
}

#geolocation-table {
    width: 500px;
}

#ws-col-1 {
    width: 33.33333333333333%;
    float: left;
}

#ws-col-2 {
    width: 41.66666666666667%;
    float: left;
}

#display {
    width: 200px;
}

#factorial {
    width: 100px;
}

#clock {
    border: none;
}

/* Sticky footer styles */
/* See http://twitter.github.io/bootstrap/examples/sticky-footer-navbar.html */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -200px;
    /* Pad bottom by footer height */
    padding: 0 0 200px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 200px;
    background-color: rgb(34, 34, 34);
    color: white;
}

/* Twitter widget styles */
.avatar {
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    height: 48px;
    width: 48px;
}

.profile-link:hover {
    text-decoration: none;
}

#tweets {
    height: 400px;
    overflow-y: scroll;
    width: 500px;
}

.tweet-actions {
    visibility: hidden;
}

#tweets-ul {
    padding: 7px;
}

/* jQuery UI Autocomplete */
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

/* WebSocket echo snippet */
#ws-log {
    width: 400px;
    height: 300px;
    border: solid 1px lightgray;
    overflow-y: scroll;
    word-wrap: break-word;
    padding: 10px;
}

/* Native Drag & Drop */
#src {
    margin-bottom: 70px;
}

#target {
    width: 400px;
    height: 180px;
    border: solid;
}

.cat-img {
    cursor: move;
}

.cat-img-div {
    float: left;
}

#target-text {
    padding: 50px;
    font-size: xx-large;
}
