#forkme {
    position: fixed;
    top: 0;
    border: 0;
    right: 0;
}

#snippet-details {
    margin-bottom: 20px;
}

/* Sticky footer styles */
/* See http://twitter.github.io/bootstrap/examples/sticky-footer-navbar.html */

html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -140px;
}

#footer {
    height: 200px;
    background-color: rgb(27, 27, 27);
    color: white;
}


@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Twitter widget styles */

.avatar {
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    height: 48px;
    width: 48px;
}

.profile-link:hover {
    text-decoration: none;
}

.tweet {
    margin: 12px 12px 25px 12px;
    border-bottom: 1px solid lightgrey;
    clear: both;
}

#tweets {
    height: 400px;
    overflow-y: scroll;
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-top-left-radius: 6px;
    border-bottom: 1px solid lightgrey;
    border-bottom-left-radius: 6px;
}

.tweet-actions {
    visibility: hidden;
}

/* jQuery UI Autocomplete */
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

/* WebSocket echo snippet */
#ws-log {
    width: 400px;
    height: 300px;
    border: solid 1px lightgray;
    overflow-y: scroll;
    word-wrap: break-word;
    padding: 10px;
}

/* Native Drag & Drop */
#src {
    margin-bottom: 70px;
}

#target {
    width: 400px;
    height: 180px;
    border: solid;
}

.cat-img {
    padding: 10px;
    cursor: move;
}

.cat-img-div {
    border: 1px solid;
}

#target-text {
    padding: 50px;
    font-size: xx-large;
}
