<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExtSharper" version="0.1.13" targetFramework="net45" />
  <package id="mongocsharpdriver" version="1.8.1" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.48" targetFramework="net45" />
  <package id="TankTop" version="1.1.26" targetFramework="net45" />
  <package id="WebSharper.ExtJs" version="2.4.48.145" targetFramework="net45" />
  <package id="WebSharper.JQueryUi" version="2.4.56.140" targetFramework="net45" />
</packages>