/* Shared */

.navbar {
    border-radius: 0;
}

#push {
    height: 50px;
}

/* Home */

#fork-me {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    z-index: 2000;
}

.jumbotron {
    background-color: white;
}

#query {
    border-radius: 6px 0 0 6px;
}

.featured {
    width: 80%;
    margin: 0 auto;
}

#feed-icon {
    vertical-align: baseline;
}

.tag-link:hover {
    text-decoration: none;
}

.btn-tag {
    margin: 5px;
}

/* Sign In */
#login-form {
    max-width: 300px;
    margin: 100px auto 0 auto;
}

/* Admin */
#submit-btn {margin-left: 5px;}

/* Snippet */
#snippet-description {width: 66.66666667%;}

/* Tagged */
#tagged-snippets {width: 80%;}

/* Search */
#search-results {width: 50%;}





















/*#main {
    padding-top: 70px;
}*/




/*.snippet {
    margin-bottom: 20px;
}*/

/*#forkme {
    position: fixed;
    top: 0;
    border: 0;
    right: 0;
}*/

/*#snippet-details {
    margin-bottom: 20px;
}*/



/*#code-textarea, #html-textarea {
    overflow: scroll;
    word-wrap: normal;
    height: 300px;
}

#code-textarea {
    margin-bottom: 30px;
}

#loader {
    padding-top: 10px;
    visibility: hidden;
}

#highlight-tabs {
    height: 500px;
}

#html-preview {
    height: 300px;
    overflow: scroll;
}

.search-result-link {
    font-size: large;
}

#source, #demo {
    height: 450px;
    overflow: auto;
    padding-top: 10px;
}

#demo-tabs {
    height: 500px;
}

#tags-div {
    margin-top: 100px;
}


#addthis-control {
    height: 30px;
}

.container .credit {
    margin: 20px 0;
}


canvas {
    border: 1px solid;
}

#location-table {
    width: 40%;
}

#console-log {
    width: 400px;
}

#geolocation-table {
    width: 500px;
}

#ws-col-1 {
    width: 33.33333333333333%;
    float: left;
}

#ws-col-2 {
    width: 41.66666666666667%;
    float: left;
}

#display {
    width: 200px;
}

#factorial {
    width: 100px;
}

#clock {
    border: none;
}*/

/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 100px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 100px;
    /*background-color: #f5f5f5;*/
    padding-top: 20px;
    border-top: 1px solid lightgray;
}





/* Twitter widget styles */
.avatar {
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    height: 48px;
    width: 48px;
}

.profile-link:hover {
    text-decoration: none;
}

#tweets {
    height: 400px;
    overflow-y: scroll;
    width: 500px;
}

.tweet-actions {
    visibility: hidden;
}

#tweets-ul {
    padding: 7px;
}

/* jQuery UI Autocomplete */
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

/* WebSocket echo snippet */
#ws-log {
    width: 400px;
    height: 300px;
    border: solid 1px lightgray;
    overflow-y: scroll;
    word-wrap: break-word;
    padding: 10px;
}

/* Native Drag & Drop */
#src {
    margin-bottom: 70px;
}

#target {
    width: 400px;
    height: 180px;
    border: solid;
}

.cat-img {
    cursor: move;
}

.cat-img-div {
    float: left;
}

#target-text {
    padding: 50px;
    font-size: xx-large;
}

/* Google Maps snippets */
#map {
    height: 300px;
    width: 500px;
}

/* Timers */
#clear-btn {
    margin-left: 5px;
}